* {
    margin: 0;
    padding: 0;
}

body {
    height: 100dvh;
    width: 100%;
    z-index: -3;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Fredoka One', cursive;
}

body::-webkit-scrollbar {
    display: none;
}

header.header1 {
    width: 90dvw;
    height: 50px;
    display: flex;
    border-radius: 8px;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    background-image: linear-gradient(180deg, rgb(228, 197, 158), rgb(194, 164, 127));
    position: fixed;
    z-index: 10;

    & > nav.headernav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        & > .social-medias {
            display: flex;
            margin-left: 1dvw;

            & > a {
                & > img {
                    filter: invert(0.5);
                    margin-left: 6px;
                    margin-right: 6px;
                    height: 25px;
                    transition: all 0.3s ease;

                    &:hover {
                        filter: invert(1);
                    }
                }
            }
        }

        & > .middle-nav {
            display: flex;
            align-items: center;
            gap: 0.2rem;
            flex-grow: 1;
            justify-content: center;

            & > div {
                position: relative;
                border: 3px rgb(70, 60, 47) solid;
                background-image: linear-gradient(to bottom right, rgb(214, 169, 134), rgb(175, 130, 96), rgb(175, 130, 96), rgb(131, 95, 68));
                padding: 7px 15px 7px 15px;
                overflow: hidden;
                transition: all 0.5s ease;

                &:hover {
                    background: rgb(105, 78, 57);
                    transform: scale(1.05);
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: -100%;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(90deg, transparent, #fff, transparent);
                    transition: left 0.5s;
                }

                &:hover::before {
                    left: 100%;
                }

                & > img {
                    cursor: pointer;
                    height: 15px;
                }

                & > a {
                    font-family: 'Comic Neue', sans-serif;
                    font-weight: 400;
                    font-size: 17.6px;
                    color: rgb(0, 0, 0);
                    text-decoration: none;
                    letter-spacing: 2px;
                }

                &:hover > a {
                    color: white;
                }

                &:hover > img {
                    filter: invert(1);
                }
            }
        }

        & > .search {
            border: 4px rgb(70, 60, 47) solid;
            background-image: linear-gradient(to bottom right, rgb(214, 169, 134), rgb(175, 130, 96), rgb(175, 130, 96), rgb(131, 95, 68));
            padding: 5px;
            height: 25px;
            margin-right: 1dvw;

            &:hover {
                background: rgb(105, 78, 57);
            }
        }
    }
}

section.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100dvh;
    width: 100dvw;

    & .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
        color: white;
        gap: 2dvh;

        & h1 {
            font-size: 70px;
            text-shadow: black 2px 2px;
        }

        & h2 {
            font-style: italic;
            font-size: 50px;
            text-shadow: black 1px 1px;
        }

        & h3 {
            font-size: 15px;
            font-family: 'Open Sans', sans-serif;
            text-shadow: black 1px 1px;
        }

        & > .buttons {
            margin-top: 3dvh;
            display: flex;
            gap: 3dvw;
        }

        & button {
            color: white;
            background: inherit;
            backdrop-filter: blur(3px);
            font-weight: bold;
            border: none;
            border-radius: 5px;
            box-shadow: black 1px 1px 1px 1px;
            padding: 15px 25px 15px 25px;
            text-shadow: black 1px 1px;
            cursor: pointer;
            transition: 0.5s;

            &:hover {
                transform: scale(1.2);
                backdrop-filter: brightness(0.5) blur(5px);
            }
        }
    }

    & .logo-container {
        position: absolute;
        bottom: -10px;

        & > img {
            height: 200px;
            filter: invert(1);
        }
    }

}

section.features {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(../img/sky-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100dvw;
    height: auto;
    color: white;

    & .feature1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100dvw;

        & .top {
            margin-top: 5dvh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            & .t2, .t3 {
                font-family: 'Open Sans', sans-serif;
                font-size: 50px;
                font-weight: bolder;
            }

            & .t4 {
                margin-top: 2dvh;
            }
        }

        & .bottom {
            margin-top: 5dvh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            gap: 3dvw;
            width: 90dvw;

            & .card {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 2dvh;
                width: 300px;

                & img {
                    height: 150px;
                    width: 300px;
                }

                & p {
                    text-align: center;
                }
            }
        }
    }

    & .divider {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 6dvh 0 6dvh 0;

        & img {
            filter: invert(1) blur(2px);
        }
    }

    & .feature2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100dvw;
        padding-bottom: 5dvh;

        & .left {
            width: 40%;

            & img {
                height: 500px;
            }
        }

        & .right {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            width: 40%;

            & .title {
                font-size: 80px;
                margin-bottom: 5dvh;
            }

            & .elements {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                gap: 2dvw;
                margin-bottom: 5dvh;

                & img {
                    height: 50px;
                    filter: invert(1);
                    border: 3px black solid;
                    padding: 10px;
                    border-radius: 100%;
                }
            }

            & .desc {
                margin-top: 1dvh;
            }

            & button {
                margin-top: 5dvh;
                font-size: 20px;
                font-weight: 700;
                padding: 15px 20px 15px 20px;
                border-radius: 10px;
                transition: 0.5s;
                border: none;

                &:hover {
                    border: 1px black solid;
                    background: inherit;
                    transform: scale(1.1);
                }

                &:active {
                    transform: scale(1);
                }
            }
        }
    }

    & .feature3 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100dvw;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../img/scenery2.png);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
        border-top: 5px rgba(255, 255, 255, 0.253) dashed;
        border-bottom: 5px rgba(255, 255, 255, 0.253) dashed;

        & .container {
            padding: 10dvh 0 10dvh 0;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: row-reverse;
            backdrop-filter: blur(5px);
            width: 100dvw;

            & .left {
                width: 40%;

                & img {
                    height: 300px;
                }
            }

            & .right {
                width: 40%;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;

                & h1 {
                    font-family: 'Open Sans', sans-serif;
                    font-size: 20px;
                }

                & .title {
                    font-size: 45px;
                }

                & .desc {
                    margin-top: 3dvh;
                }
            }
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4dvh 0 4dvh 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url(../img/sky-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    & > .buttons {
        margin-top: 3dvh;
        display: flex;
        gap: 3dvw;
    }

    & button {
        color: white;
        background: inherit;
        backdrop-filter: blur(3px);
        font-weight: bold;
        border: none;
        border-radius: 5px;
        box-shadow: black 1px 1px 1px 1px;
        padding: 15px 25px 15px 25px;
        text-shadow: black 1px 1px;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
            transform: scale(1.2);
            backdrop-filter: brightness(0.5) blur(5px);
        }
    }
}