* { 
    margin: 0;
    padding: 0;
}

body {
    height: 100dvh;
    width: 100%;
    z-index: -3;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

header.header1 {
    width: 100vw;
    height: 50px;
    display: flex;
    background-image: linear-gradient(180deg, rgb(228, 197, 158), rgb(194, 164, 127));
    border-top: 3px rgb(177, 152, 122) solid;
    border-bottom: 6px rgb(110, 95, 76) solid;
    position: relative;
    z-index: 10;

    & > nav.headernav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        & > .social-medias {
            display: flex;
            margin-left: 1dvw;

            & > a {
                & > img {
                    filter: invert(0.5);
                    margin-left: 6px;
                    margin-right: 6px;
                    height: 25px;
                    transition: all 0.3s ease;

                    &:hover {
                        filter: invert(1);
                    }
                }
            }
        }

        & > .middle-nav {
            display: flex;
            align-items: center;
            gap: 0.2rem;
            flex-grow: 1;
            justify-content: center;

            & > div {
                position: relative;
                border: 3px rgb(70, 60, 47) solid;
                background-image: linear-gradient(to bottom right, rgb(214, 169, 134), rgb(175, 130, 96), rgb(175, 130, 96), rgb(131, 95, 68));
                padding: 7px 15px 7px 15px;
                overflow: hidden;
                transition: all 0.5s ease;

                &:hover {
                    background: rgb(105, 78, 57);
                    transform: scale(1.05);
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: -100%;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(90deg, transparent, #fff, transparent);
                    transition: left 0.5s;
                }

                &:hover::before {
                    left: 100%;
                }

                & > img {
                    cursor: pointer;
                    height: 15px;
                }

                & > a {
                    font-family: 'Comic Neue', sans-serif;
                    font-weight: 400;
                    font-size: 17.6px;
                    color: rgb(0, 0, 0);
                    text-decoration: none;
                    letter-spacing: 2px;
                }

                &:hover > a {
                    color: white;
                }

                &:hover > img {
                    filter: invert(1);
                }
            }
        }

        & > .search {
            border: 4px rgb(70, 60, 47) solid;
            background-image: linear-gradient(to bottom right, rgb(214, 169, 134), rgb(175, 130, 96), rgb(175, 130, 96), rgb(131, 95, 68));
            padding: 5px;
            height: 25px;
            margin-right: 1dvw;

            &:hover {
                background: rgb(105, 78, 57);
            }
        }
    }
}

section.contents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100dvw;
    background-image: url(../img/top-bg.png);
    background-repeat: no-repeat;
    background-size: cover;

    & > .hanging-link {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background-image: url(../img/hanging-sign.png);
        background-position-x: 50%;
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: contain;
        max-width: 300px;
        max-height: 100px;
        min-height: 100px;
        width: 300px;
        position: relative;
        top: -20px;
        z-index: 0;
        transition: all 0.3s ease;

        & > a {
            font-family: 'Comic Neue', sans-serif;
            padding: 20px;
            color: white;
            text-decoration: none;
            font-size: 18px;

            &:hover {
                color: red;
            }
        }

        &:hover {
            top: -5px;
        }
    }

    & > .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100dvw;

        & > img {
            height: 40dvh;
        }
    }

    & > .title {
        font-style: italic;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100dvw;

        & > h1 {
            font-size: 40px;
        }
    }

    & > .quotes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-top: 1dvh;
        width: 100dvw;
        gap: 10vw;

        & > p {
            font-size: 20px;
        }
    }

    & > .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-top: 3dvh;
        width: 40dvw;
        gap: 5vw;

        & > a {
            & > button {
                border: 3px black solid;
                border-radius: 25px;
                padding: 20px;
                font-size: 25px;
                transition: all 0.3s ease;

                &:hover {
                    transform: scale(1.1);
                    border: 3px white dashed;
                    color: white;
                }
            }

            & > .b1 {
                background-image: linear-gradient(to bottom right, rgb(163, 255, 163), rgb(124, 248, 124), rgb(88, 206, 88), rgb(66, 172, 66));
            }

            & > .b2 {
                background-image: linear-gradient(to bottom right, rgb(253, 156, 156), rgb(248, 96, 96), red, rgb(173, 1, 1));
            }
        }
    }

    & > img {
        display: flex;
        position: relative;
        width: 100%;
        bottom: -40px;
    }
}



@keyframes sway {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-2deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(2deg); }
    100% { transform: rotate(0deg); }
}

.logo {
    animation: sway 5s infinite ease;
}